
/* Grundlegende Stil-Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: #333; /* Dark gray background */
    color: #fff; /* White text for better contrast */
    line-height: 1.6;
}

.header-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}




/* Container-Stil */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header und Navigation */
header {
    background: #333; /* Dark gray background */
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 3px solid #ff0000; /* Red accent */
}

/* Navigation links */
nav ul {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    padding: 0;
    list-style: none;
}

@media (max-width: 768px) {
    nav ul {
        grid-auto-flow: row;
    }
}


nav ul li {
    display: inline;
}

nav ul li a {
    color: #ff0000; /* Red accent for links */
    padding: 0 20px;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffffff;
    background-color: #ff0000; /* Red background on hover */
}



#email, #password {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
}

.container-submit-btn {
    display: grid;
    place-items: center;
}



.submit-btn
{
    background-color: #ff0000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    cursor: pointer;
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;   
    align-items: center;
    border-radius: 0.5em;
}

.submit-btn:hover {
    opacity: 0.7;
}

.submit-btn:active {
    background-color: #ff0000;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#login-form, #register-form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background: #333;
    border-radius: 0.5em;
    
}

#login-form h1, #register-form h1 {
    text-align: center;
    color: #fff;
    font-weight: normal;
    margin: 0 0 20px 0;
}

#profil-form {
    background: #444; /* Leichter Kontrast zum Hintergrund */
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    margin: 20px auto;
}

#profil-form label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

#profil-form input[type="text"],
#profil-form input[type="date"],
#profil-form input[type="number"],
#profil-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
    color: #333;
}

#modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(131, 131, 131, 0.3);
    display: grid;
    place-items: center; /* Zentriert den Inhalt */
}

#modal-content {
    position: relative; /* Ermöglicht die Positionierung des Schließ-Buttons relativ zum Modal-Inhalt */
    background-color: #ffffffee;
    color: #333333;
    padding: 20px;
    border-radius: 5px;
    width: auto; /* Oder eine spezifische Breite nach Bedarf */
    max-width: 300px; /* Maximale Breite, um das Modal zu begrenzen */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Schatten für Tiefe */
    margin: auto;
}

.close-container {
    text-align: right; /* Richtet den Schließ-Button rechts aus */
    width: 100%;
}

#close-modal {
    cursor: pointer;
    color: #000; /* Ändern Sie die Farbe nach Bedarf */
    font-size: 1.5em;
    display: inline-block; /* Entfernt die Float-Eigenschaft */
    margin: 0 10px 10px 0; /* Abstand oben und rechts für den Button */
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #333;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}